@using DeliverySystem.Models

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}   
<center><p style="color:sienna; font-size:20px;"><b>Uniwersytet Gdanski, Informatyka III rok, Grupa II, Dawid Wiecko</b></p></center>